---
layout: default
---
{% assign count =  0 %}
<ul class=projects>
{% for post in site.categories['projects'] %}  
    {% if post.project_type == "photography" %}
  {% assign project_link =  "/photography/" | append: post.project_gallery %}
  {% endif %}
  {% if post.project_type == "self" %}
    {% assign project_link =  post.url %}
  {% endif %}
  {% if post.project_type == "url" %}
    {% assign project_link =  post.project_url %}
  {% endif %}
  <li class="{% cycle 'left', 'right' %}">
    <a class="image" href="{{ project_link }}" style="background-image: url('{{ site.baseurl }}{{ site.images_path }}projects/{{ post.image }}')"></a>
    <div class="info">
      <div class="title"><a href="{{ project_link }}">{{ post.title }}</a></div>
      {{ post.snippet }}
    </div>
  </li>
{% endfor %}
</ul>
