---
layout: blog
---
<div class="blog">

{% for post in paginator.posts %}
 {% include post.html %}
{% endfor %}

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">Previous</a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>

</div>

<div class="sidebar">
 <h2>Hello</h2>
 {% include intro.html %}
 <h2 class="gap">Topics</h2>
 {% include topiclist.html %}
 <a href="{{ site.baseurl }}/archives/" class="archives"><h2 class="gap">Archives</h2></a>
</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
