<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<title>Steve Guntrip</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/design.css" type="text/css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/blog.css" type="text/css"/>

<!--<link rel="stylesheet" href="http://www.steveguntrip.co.uk/wp.css" type="text/css"/>-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><link href="http://fonts.googleapis.com/css?family=Bitter:400,700,400italic" rel="stylesheet" type="text/css">
</head>
<body class="{{ colour }}">

<h1 class="nosub"><div>
<a  href="http://www.steveguntrip.co.uk/" class='logo'><span>Steve Guntrip</span></a>
<a href="http://www.steveguntrip.co.uk/" class='{% if tab == 'blog' %} on {% endif %}'>Blog</a>
<a href="http://www.steveguntrip.co.uk/photography/" class=''>Photography</a>
<a href="http://www.steveguntrip.co.uk/web/afforder/" class=''>Web</a>
<a href="http://www.steveguntrip.co.uk/writing/" class=''>Writing</a>
<a href="{{ site.baseurl }}/contact/" class=''>Contact</a>
</div></h1>

<div class='content'><div>
