<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
<title>Steve Guntrip</title>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/blog.css" type="text/css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/port.css" type="text/css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/design.css" type="text/css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><link href="http://fonts.googleapis.com/css?family=Bitter:400,700,400italic" rel="stylesheet" type="text/css">
</head>
<body class="{{ colour }}">

<h1 class="nosub"><div>
<a  href="{{ site.baseurl }}/" class='logo'><span>Steve Guntrip</span></a>
<a href="{{ site.baseurl }}/projects/" class='{% if tab == 'projects' %} on {% endif %}'>Projects</a>
<a href="{{ site.baseurl }}/photography/" class='{% if tab == 'photography' %} on {% endif %}'>Photography</a>
<a href="{{ site.baseurl }}/articles/" class='{% if tab == 'articles' %} on {% endif %}'>Articles</a>
<a href="{{ site.baseurl }}/about/" class='{% if tab == 'about' %} on {% endif %}'>About</a>
</div></h1>

<div class='content'><div>
