.blog {
	vertical-align: top;
	display:inline-block;
	width:650px;
	margin-right:5px;
}

.sidebar {
	vertical-align: top;
	display: inline-block;;
	width:222px;
	border-left:2px solid #e6e3e7;
	padding-left:5px;
}

.sidebar h2 {
	/* subheaders */
	background-color: inherit;
	margin:0;
	padding:2px 2px 2px 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin-bottom:2px;
	font-weight:bold;
}

.sidebar h2.gap {
	margin-top:8px;
}

.sidebar a.archives {
	text-decoration: none;
	color:#000;
}
.sidebar a.archives:hover {
	text-decoration: underline;
}

.sidebar a.tag {
	display:inline-block;
	margin:2px;
	padding:2px;
	font-size:0.8em;
	border-radius: 2px;
	background-color: #d3c5da;
	color:#000;
	text-decoration: none;
}

.sidebar a.tag:hover {
	background-color: #cb83f5;
}

.sidebar a.tag.on {
	background: #6f4882;
	font-weight:bold;
	color:#fff;
}

hr.divide {
	height:2px;
	border:none;
    border-bottom: 2px solid #e6e3e7;
    width:60%;
}

.post h1 {
	/* post titles, section titles */
	background-color: inherit;
	padding:0;
	font-size:1.2em;
	font-weight:bold;
	color:#000;
}

.post h1 a {
	/* post title link */
	text-decoration: none;
	color:#000;
}

.post .info {
	margin-top: 2px;
	margin-bottom:6px;
	font-size:0.75em;
	font-weight:normal;
}

.post .info a.topic, .archives a.topic {
	display:inline-block;
	margin-left:3px;
	padding:2px;
	border-radius: 2px;
	background-color: #d3c5da;
	color:#000;
	text-decoration: none !important;
}

.archives a.topic {font-size:0.75em;}

.post .info a.topic:hover, .archives a.topic:hover {
	background-color: #cb83f5;
}


.post .info div.readingtime {
	display:inline-block;
	margin-left:3px;
	padding:2px;
	border-radius: 2px;
	background-color: #fff;
	color:#000;
	text-decoration: none;
}

.post p {
	/* post content */
	background-color: inherit;
	line-height:1.55;
	max-width:37em;
	color:#3e3e3e;;
}

.post img {
    height: auto;
    max-width: 100%;
}

.blog .topicHeader {
	font-size:1.2em;
	color:#000;
	margin-top:4px;
	padding-bottom:6px;
	margin-bottom:6px;
	border-bottom: 2px dashed #e6e3e7;
}

.archives a {
	color:#000;
	text-decoration: none;
}

.archives a:hover {
	text-decoration: underline;
}
