/* projects */
ul.projects {
  list-style-type: none;
  margin: 0;
  padding: 0;
  clear:both;
}

ul.projects li {
  padding-top:15px;
  clear:both;
}

ul.projects li div.image {
  float: left;
  width:200px;
  height:200px;
  vertical-align: middle;
  overflow:hidden;
}

  ul.projects li  div.image img {
    width:200px;
    height:auto;
  }

ul.projects li div.project {
  float:left;
  padding-left: 10px;
  width:420px;
}

ul.projects li div.title {
  font-weight:bold;
}

ul.projects li  p {
  /* snippet */
  margin: 7px 0px;
}

ul.projects li div.linked {
  margin-left:10px;
  padding:5px;
  width:85%;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size:0.9em;
}

ul.projects li div.linked div {
  font-weight:bold;
  margin-top:-2px;
  margin-bottom:4px;
}

ul.projects li div.linked a {
  margin-left:5px;
  text-decoration: none;
  color: #000;
}

ul.projects li div.linked a:hover {
  text-decoration: underline;
}

/* photography */
div.photoTitle {
  font-size:1.4em;
  margin: 15px 0px;
}
div.photoSub {
  font-size:0.95em;
  width:600px;
  margin: 15px 0px;
}
div.port {
	margin:0px 0px 50px 0px;
	font-size:0.95em;
}
div.port p {
	text-align:left;
	margin:10px 0px 50px 0px;
  width:90%;
}
div.port p img {
	width:100%;
}
div.port p span {
	text-align:center;
	display:block;
	/*width:75%;*/
	margin-top:6px;
	font-style:italic;
	font-size:0.85em;
}

a.portLink {
  display:inline-block;
  position:relative;
  height:300px;
  width:300px;
  background-size: cover;
  margin:15px;
  color:#fff;
}

a.portLink div {
  position:absolute;
  bottom:10px;
  width:100%;
  text-align:center;
  text-decoration: none;
  font-size: 1.2em;
  font-color:#fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
