{% comment %} Figure out tabs and colours {% endcomment %}
{% assign urlSplit = page.url | split: '/' %}
{% if urlSplit[1] == "about" %}
  {% assign tab = 'about' %}
  {% assign colour = 'purple' %}
{% endif %}
{% if urlSplit[1] == "photography" %}
  {% assign tab = 'photography' %}
  {% assign colour = 'mono' %}
{% endif %}
{% if urlSplit[1] == "projects" %}
  {% assign tab = 'projects' %}
  {% assign colour = 'purple' %}
{% endif %}
{% include header.html %}
{{ content }}
{% include footer.html %}
